@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700&display=swap');

:root {
    --black: #000000;
    --pewter-blue: #81ADC8;
    --davys-grey: #4D4D4D;
    --vermillion: #CD4631;
    --champagne: #F7EDE8;
    --alice-blue: #EDF3F7;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline:none;
}
::before,
::after{
    box-sizing: border-box;
}


/* -------------------- Main ---------------- */
body {
    font-family: 'Montserrat Alternates', sans-serif;
}
h1, h2, h3, h4{
    letter-spacing: -2%;
    
}
h1{
    font-size:50px;
    line-height: 120%;
    text-align: center;
}
h2{
    font-size: 45.65px;
    line-height: 120%;
}
h3, h4{
    font-size: 22px;
    line-height:140%;
}
p{
    font-size: 14px;
    line-height: 160%;
    color: var(--davys-grey);
}
.small{
    font-size: 12px;
    line-height: 160%;
}
.bold{
    font-weight: 600;
}
.vermillion{
    color:var(--vermillion);
}
a{
    position: relative;
    display:inline-block;
    text-decoration: none;
    color:var(--black);
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3s ease;
}
.align-center{
    align-items: center;
}
.container-left a::after{
    content:"";
    position: absolute;
    background-color: var(--vermillion);
    height: 3px;
    width: 0%;
    left:0;
    bottom:-10px;
    transition: width 0.3s ease;
}
.container-left a:hover::after{
    width: 100%;
}
.container-left a:hover{
    color: var(--vermillion);
}
.wrap {
    flex-wrap: wrap;

}
/* button */
button{
    cursor: pointer;
}
.btn{
    font-size:14px;
    text-transform: uppercase;
    border:2px solid var(--black);
    border-radius:10px;
    padding: 10px 20px;
    position:relative;
    overflow: hidden;
    color:white;   
    transition: all 0.3s ease;
}

.btn-black{
    background-color: var(--black);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.btn-black:hover{
    box-shadow: none;
    top: 3px;
    left: 3px;
}
.btn-white{
    background:none ;
    color: var(--black);
    border: 2px solid var(--black);
    z-index: 1;
}
.btn-white:hover{
    color:white;
}
.btn-white::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background-color: var(--black);
    transition: height 0.3s ease;
    z-index:-1;
}
.btn-white:hover::before{
    height: 100%;
}
.btn-main {
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    padding:20px 40px;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}
.btn-main:hover{
    top: 6px;
    left: 6px;
}

/* --------- header-section ------------ */
.row{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.column{
    display:flex;
    flex-direction: column;
}
.header {
    background-color: var(--champagne);
    align-items: center;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:20px 10%;
}
.nav-bar .container-left{
    width:40%;
    align-items: center;
    justify-content: space-between;
}
.container-left ul{
    list-style-type: none;
    gap:40px;
}
.container-left svg{
    position:relative;
    top:3px;
}
.nav-bar .container-right{
    gap: 20px;
}
.banner h1{
    font-size:80px;
    width: 70%;
    align-self: center;
}
.banner{
    width: 70%;
    align-items: center;
    padding:20px 40px;
    gap: 30px;
    position: relative;
}
.banner p{
    width:35%;
    text-align: center;
    margin-bottom: 15px;
}

.background{
    position:absolute;
}
.shape{
    top:10%;
    left:0;
    width:22%;
}
.stars{
    top:30%;
    right:40px;
    width:12%;
}
.container-cover{
    width:100%;
    overflow-x: scroll;
    margin:50px;
    scrollbar-width: thin;
}
.container-cover::-webkit-scrollbar{
    width:0;
}

.covers{
    width:140%;
    height:70vh;
    align-items: center;
    padding: 10px 50px;
    gap:20px;

}
.header .cover{
    background-repeat:no-repeat ;
    background-size: contain;
    position: relative;
    
}
.header .cover-img{
    border-radius:10px;
    width:100%;
}

.cover .logo{
    gap: 10px;
    position: absolute;
    right:15px;
    top:15px;
}
.cover .logo img{
    width: auto;
    height: auto;
}
.cover h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    color:var(--pewter-blue);
    font-size:30px;
    text-transform: capitalize;
}
.platform{
    gap:10%;
    width:80%;
    align-items: center;
    padding:40px 0;
    border-top: 1px solid var(--davys-grey);
    border-bottom: 1px solid var(--davys-grey);
    margin-bottom: 150px;
}

/* ----------------- about section --------------------*/
.about {
    align-items: center;
    gap: 70px;
    padding: 150px 0;
    position: relative;
}
.about .container {
   
    gap: 50px;
    justify-content: space-between;
    width: 80%;
}
.about .background{
    top: -80px;
}
.about h1{
    width: 50%;
}
.illustration{

    align-items: center;
    width: 60%;
    gap:20px;
}
.illustration img{
    width: 60%;
}
.illustration p{
    text-align: center;
    width:90%;
}
.quote{
    position: relative;
    align-items: center;
    background-color: var(--champagne);
    width:80%;
    padding:30px;
}
.simple-quote {
    color:var(--vermillion);
}
.quote .simple-quote{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:90px;
    font-weight: 700;
}
.quote h2{
    width: 70%;
    text-align: center;
    margin-bottom:50px;
}
.avatar{
    border-radius: 50%;
}
.quote .row{
    gap:10px;
    align-items: center;
}
.shape-2{
    position: absolute;
    left: -70px;
    bottom: 50px;
}
.stars-4{
    position: absolute;
    right: -50px;
    top: -55px;
}

/* --------- testimonial-section ------------ */
.testimonial-section{
    background:var(--alice-blue);
    position:relative;
    gap:25px;
    width:100%;
    align-items: center;
    padding: 150px 0;

}
.background-testimonial{
    position: absolute;
    top:-80px;
    left:45%;
}
.sparkle{
    position: absolute;
    left:25%;
    top: 70px;
}
.container-scroll{
    
    
    overflow-x: scroll;
    width:100%;
    scrollbar-width: thin;
}
.container-scroll::-webkit-scrollbar{
    width: 0%;
}
.testimonials{
    width:140%;
    gap: 10px;
    padding:20px 20px 20px 100px;

}
.testimonial{
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    gap: 20px;

}
.testimonial .simple-quote{
    margin-bottom: -40px;
    font-size:80px;
    font-weight: 700;
}
.testimonial p{
    font-size: 20px;
}

.testimonial .row{
    align-items: center;
    gap:10px;
}
.testimonial-section .nav{
    position: relative;
    right:39%;
}
.nav .right{
    transform: rotate(180deg);
}
.nav svg:hover path{
    stroke:var(--vermillion);
}

/* ------------ features section -------------- */
.features{
    position:relative;
    padding:100px 100px 130px 100px;
    gap:50px;
    align-items: center;
}
.background-features{
    position:absolute;
    top:-70px;
}
.features .text{

    align-items: center;
    padding: 40px;
    position:relative;
}
.features h2{
    margin-bottom: 20px;
}
.features .text p{ 
    align-items: center;
    font-size:20px;
}
.features .text img{
    position: absolute;
    top:-150px;
    right: -100px;
}
.features .container{
    width: 100%;
    align-items: center;
    
    gap:25px;
}
.features .card{

    width: 30%;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;
}
.features .card img{
    width: 25%;
}
.features .card p{
    text-align: center;
}
.features .card h4{
    text-align: center;
}

/* ------------- Content-section ------------ */
.content{
    position: relative;
    background-color: var(--champagne);
    padding:150px 50px;
    align-items: center;
}
.content-background{
    position: absolute;
    top: -70px;
}
.content p{
    font-size: 20px;
    margin: 20px;
}
.content .container{
    width: 100%;
    position: relative;
    gap:30px;
    justify-content: center;
    margin:70px 0;
}

.container-background{
    position:absolute;
    top: -100px;
    right: -30px;
}
.content .card{
    align-items: flex-start;
    position: relative;
    background-color: white;
    width: 45%;
    gap:15px;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid var(--Black, #000);
    
}
.content .card:hover{
    box-shadow: 10px 10px 0px 0px #81ADC8;
    bottom: 10px;
    right: 10px;
}
.content .card:hover .description h4{
    color: var(--vermillion);
}
.content .card .row{
    gap:5px;
}
.content .card .cover{
    gap:20px;
    width: 35%;

}
.content .card .cover .row{
    flex-wrap: wrap;
    width: 190px;
    
}
.content .card .cover img{
    border-radius: 5px;
    width: 90%;
}
.content .card h4{
    border-bottom: 1px solid var(--davys-grey);
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 20px;
}
.content .card p{
    font-size: 12px;
    margin: 10px;;
    margin-left: 0;
    width: 90%;
}
.tag{
    position: relative;
    padding: 5px 10px;
    color: var(--davys-grey);
    font-size: 11px;
    border: 1px solid var(--davys-grey);
    border-radius: 3px;
}
.content .card .description{
    display: flex;
    flex-direction: column;
  
    height: 100%;
    padding-top: 20px;
}
.host{
    position: absolute;
    display:flex;
    align-items: center;
    gap: 10px;
    bottom: 10px;
    right: -10px;
}
.host span{
    font-size: 12px;
    font-weight: 600;
    color:var(--davys-grey);
}
.host img{
    border-radius: 50%;
    border: 3px solid white;
}
.host-1 {
    z-index: 0;
}
.host-2 {
    z-index: 1;
    position: relative;
    right:20px;
}

/* --------------------- pricing-section -------------------- */
.pricing{
    align-items: center;
    position: relative;
    padding: 150px 20px;
}
.scribble-2{
    position: absolute;
    top: -80px;
}
.pricing .text{
    padding:20px;
    position: relative;
}
.pricing .text img{
    position: absolute;
    top:-50px;
    left:-50px;
}
.pricing .text p{
    font-size: 20px;
    padding:20px;
}
.pricing .container{
    position: relative;
    justify-content: center;
    width:90%;
    height: 100vh;
    gap:20px;
    margin-top:50px;
}
.pricing-background{
    position: absolute;
}
.pricing-background.star{
    right:-40px;
    top:-70px;
    z-index: -1;
}
.pricing-background.scribble{
    bottom: -50px;
    left: -40px;

}
.pricing .card{
    gap: 20px;
    width: 30%;
    height: 100%;
}
.pricing .card:hover .offer, .pricing .card:hover .included{
  background-color: var(--champagne);
  border: 1.5px solid var(--vermillion);
}
.pricing .card:hover .offer .tag{
    background-color: var(--vermillion);
    color:white;
    border-color: var(--vermillion);
}
.pricing .card .offer{
    height: 55vh;
    position: relative;
}
.pricing .card .included{
    height: 45vh;
}
.pricing .card .offer, .pricing .card .included{
    background-color: white;
    border: 1.5px solid var(--black);
    border-radius: 8px;
    gap: 20px;
    padding:40px 30px;
    z-index: 1;
    
}
.offer h4{
    font-size: 30px;
}
.offer .row{
    width:82%;
    
    position: absolute;
    bottom: 40px;
    justify-content: space-between;
}
.offer span{
    font-size: 14px;
    font-weight: 600;
    color:var(--davys-grey);
}
.offer .tag{
    position: relative;
    left:30px;
    padding:2px 7px;
}
.price{
    font-size:20px;
    font-weight: 600;
}
.included p{
    font-weight: 600;
}
.included ul{
    padding-left: 15px;
}
.included ul li{
    margin-bottom: 10px;
}
